# Ignore node_modules
node_modules/

# Ignore specific apps (example)
my-first-app/
my-second-app/

# Other ignore patterns
*.log
*.env
node_modules/
my-fouth-app/
my-six-app/
my-third-app/
tic-tac-toe/
todolist/
